<%- include('includes/login-header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fab fa-trello fa-6x"></i>
    <h1 class="display-3">Task Management System</h1>
    <p class="lead">This is a web-based, Kanban-style, list-making application.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('includes/login-footer') %>
