<%- include('../includes/header.ejs') %>
</head>

<body>
    <main>
        <%- include('../includes/board.ejs') %>
        <div class="add-list">
            <form autocomplete="off" action="/add-list" method="GET">
                <button type="submit">Add another list</button>
            </form>
        </div>
    </main>

<%- include('../includes/footer.ejs') %>